/build-stamp
/css
/debian/files
/debian/source/options
/debian/sqlautodoc/
/debian/sqlautodoc.debhelper.log
/debian/sqlautodoc.substvars
/debian/stamp-patched
/doc
/gam3.html
/gam4.html
/Gemfile
/Gemfile.lock
/HELPER
/main.html
/Makefile
/pkg/
/*.sgml
/sqlautodoc-*.gem
.*.swp
/.yardoc
